<div class="row">
  <div class="col-md-3"></div>
   <div class="col-md-6"><div class = 'logo'><img src ='http://images.clipartpanda.com/sideline-clipart-football-goal-post-clip-art.png'/>Goal_it</div></div>
  <div class="col-md-3"></div>

</div>
