<div class='container'>
    {{> logo}}
    <div class="row">
        <div class='heading'>
            <h1 class="teamName">Goals</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">{{> navigation}}</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">{{notify}}</div>
        <div class="col-md-6">
            <div class='feed'>
              <a type="button" class="btn btn-primary" href="/goals/Kate"> <div class = 'texxxxxt'>+</div></a>
                <ul>
                    {{#goals}}

                        <li class="homeActivity">
                            <span class="profilePic">
            <img src='http://papeldeazucar.com/FPD9005BB.jpg'>
          </span>

                            <span class="text">
          {{user_name}} wants to {{goal}}
          </span>
                        </li>
                    {{/goals}}

                </ul>
              </div>
          </div>
          <div class="col-md-3"></div>
      </div>
  </div>
