<div class='container'>
  {{> logo}}
  <div class="row">
    <div class='heading'><h1 class="teamName">CODEX</h1></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">{{> navigation}}</div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class='feed'>
        <ul>
          <li class="homeActivity">
            <span class="profilePic">
              <img src='http://papeldeazucar.com/FPD9005BB.jpg' />
            </span>
<<<<<<< HEAD
            <span class="text">
            Sally has created the codex team.
=======
            <span class="newsText">
            Molly has created the codex team.
>>>>>>> refs/remotes/origin/master
            </span>
          </li>
          <li class="homeActivity">
            <span class="profilePic">
              <img src ='http://media.fromthegrapevine.com/assets/images/2015/5/wonderwoman-cover.jpg'/>
            </span>
            <span class="text">
            Kate has joined the team.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- <div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
  </div> -->
</div>
