<div class='container'>
  {{> logo}}
  <div class="row">
    <div class='heading'><h1 class="teamName">Notifications</h1></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">{{> navigation}}</div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class='feed'>

      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
